.container {
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.card {
    height: fit-content;
    margin-top: 32px;
    width: 600px;
    margin-left: 16px;
    margin-right: 16px;
}