<div class="courses-panel">
    <div class="header">
        <h2 class="title">All Courses</h2>
        <button mat-mini-fab routerLink="/add-new-course">
            <mat-icon class="add-course-btn">add</mat-icon>
        </button>
    </div>

    <mat-tab-group>
        <mat-tab label="Beginners">
            <app-course-card-list [courses]="beginnerCourses$ | async"></app-course-card-list>
        </mat-tab>
        <mat-tab label="Avanced">
            <app-course-card-list [courses]="advancedCourses$ | async"></app-course-card-list>

        </mat-tab>
    </mat-tab-group>

</div> 